{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_title %} - Shopping Cart{% endblock %}

{% block content %}
    <!-- Cart Hero Content -->
    <section class="page-hero container mt-4 py-5">
        <h1>Shopping Cart</h1>
            <div class="row mb-5">   
                <div class="col-xl-8">
                    <p class="lead text-muted">
                        You have 3 items in your shopping cart
                    </p>
                </div>
            </div>
    </section>
    <!-- Cart Content -->
    <section>
        <div class="container">
            <div class="row mb-5"> 
              <div class="col-lg-12 pe-xl-5">
                <div class="cart mb-5">
                    {% if cart_items %}
                        <div class="cart-body">
                            {% for item in cart_items %}
                            <div class="cart-item">
                                <div class="row d-flex align-items-center text-start text-md-center">
                                    <div class="col-12 col-md-6">
                                        <div class="d-flex align-items-center">
                                            {% include "cart/product_image.html" %}
                                            <div class="item-title text-start ms-1">
                                                {% include "cart/product_info.html" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                                       <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-6 d-md-none text-body-secondary">Price per item</div>
                                                    <div class="col-6 col-md-12 text-end text-md-center">${{ item.product.price }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row align-items-center">
                                                    <div class="d-md-none col-7 col-sm-9 text-body-secondary">Quantity</div>
                                                    <div class="col-8 col-sm-3 col-md-12 d-flex align-items-center">
                                                        {% include "cart/quantity_form.html" %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-6 d-md-none text-body-secondary">Subtotal </div>
                                                    <div class="col-6 col-md-12 text-end text-md-center">${{ item.product.price | calc_subtotal:item.quantity }}</div> 
                                                </div>
                                            </div>
                                       </div> 
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-between flex-column flex-lg-row my-5">
                            {% include "cart/cart_buttons.html" %}
                          </div>   
                    {% else %}
                        <p class="lead mb-5">You have no items in your shopping cart!</p>
                        <a href="{% url 'products' %}" class="btn btn-black mt-2">
                            <span class="mr-2"><i class="fa-solid fa-chevron-left"></i></span>
                            <span>Back to Shop</span>
                        </a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>  
    </section>
<!-- Back to top button -->
<div class="back-to-top">
    <a class="btn btn-back-to-top">
        <i class="fa-solid fa-angles-up"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

        <!-- Back to top -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var backToTopButton = document.querySelector('.back-to-top');
                if (backToTopButton) {
                    backToTopButton.addEventListener('click', function(e) {
                        window.scrollTo(0, 0);
                    });
                }
            });
        </script>

        <script>
            // Update cart quantity on click
            $('.update-item').click(function(e) {
                var form = $(this).prev('.update-form');
                form.submit();
            })

            // Remove an item from the bag on click
            $('.remove-item').click(function(e) {
                var csrfToken = "{{ csrf_token }}";
                var itemId = $(this).attr('id').split('remove_')[1];
                var url = `/cart/remove/${itemId}/`;
                var data = {'csrfmiddlewaretoken': csrfToken};

                $.post(url, data)
                .done(function() {
                    location.reload();
                });
            })

        </script>

{% endblock %}