{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero-container">
        <div class="hero-cover bg-cover">
            <div class="container-fluid px-lg-6 px-xl-7 h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-6 ps-5">
                        <p class="subtitle">All-time favourites</p>
                        <h2 class="display-1 mb-3 lh-1">Bitters &amp; Mixers</h2>
                        <p class=" mb-5">Step into the world of exquisite mixology with our premium selection of mixers</p>
                        <a class="btn btn-outline-brown text-uppercase" href="#">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}