{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero-container">
        <div class="hero-cover bg-cover">
            <div class="container-fluid px-lg-6 px-xl-7 h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-6 ps-5">
                        <p class="subtitle">All-time favourites</p>
                        <h2 class="display-1 mb-3 lh-1">Bitters &amp; Mixers</h2>
                        <p class="mb-5">Step into the world of exquisite mixology with our premium selection of mixers</p>
                        <a class="btn btn-outline-brown text-uppercase" href="#">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container mt-5 mb-5 py-6  pt-5">
        <div class="row">
          <div class="col-xl-8 mb-5">
            <p class="subtitle mb-1">Popular choices</p>
            <h3>Discover the Essentials</h3>
            <p class="lead text-muted">Elevate your home bar experience with our finest selections</p>
          </div>
        </div>
        <div class="row">
          <div class="mb-2 col-6 col-lg-5 pe-1">
            <div class="poster" style="background-color:#335C67">
              <div class="poster-text p-3 p-lg-5">
                <p class="subtitle text-small" style="color: #87B7C4">Mix with precision</p>
                <h2 class="mb-0">Shakers</h2>
              </div>
              <div class="poster-bg">
                <img class="img-fluid" src="#" alt="">
              </div>
              <a class="poster-link" href="#">See more</a>
            </div>
          </div>
  
          <div class="mb-2 col-6 col-lg-7 ps-1">
            <div class="poster" style="background-color:#FFF3B0">
              <div class="poster-text p-3 p-lg-5">
                <p class="subtitle text-small" style="color: #94585e">Infuse the magic</p>
                <h2 class="mb-0">Bitters &amp; Mixers</h2>
              </div>
              <div class="poster-bg">
                <img class="img-fluid" src="#" alt="">
              </div>
              <a class="poster-link" href="#">See more</a>
            </div>
          </div>
  
          <div class="mb-2 col-6 col-lg-7 pe-1">
            <div class="poster" style="background-color:#E09F3E">
              <div class="poster-text p-3 p-lg-5">
                <p class="subtitle text-small" style="color: #9e9056">Raise the bar in style</p>
                <h2 class="mb-0">Cocktail Glasses</h2>
              </div>
              <div class="poster-bg">
                <img class="img-fluid" src="#" alt="">
              </div>
              <a class="poster-link" href="#">See more</a>
            </div>
          </div>
  
          <div class="mb-2 col-6  col-lg-5 ps-1">
            <div class="poster" style="background-color:#9E2A2B">
              <div class="poster-text p-3 p-lg-5">
                <p class="subtitle text-small" style="color: #9c5f8f">Learn from the masters</p>
                <h2 class="mb-0">Mixology</h2>
              </div>
              <div class="poster-bg">
                <img class="img-fluid" src="#" alt="">
              </div>
              <a class="poster-link" href="#">See more</a>
            </div>
          </div>
  
        </div>
      </section>
    
{% endblock %}