{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-sm-6">
                <h1 class="small-heading display-6">
                    All-Time Favorites
                </h1>
                <h2 class="display-4">
                    Mixers
                </h2>
                <p>
                    Step into the world of exquisite mixology with our premium selection of mixers
                </p>
                <a class="hero-button btn btn-outline-secondary text-uppercase" href="#">Discover More</a>
            </div>
        </div>
    </div>
{% endblock %}