{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_title %} - Checkout{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <!-- Checkout Hero Content -->
    <section class="page-hero container mt-4 py-5">
        <h1>Checkout</h1>
            <div class="row mb-5">   
                <div class="col-xl-8">
                    <p class="lead text-muted">
                        Please review your order details carefully before proceeding to payment to ensure a smooth and secure transaction.
                    </p>
                </div>
            </div>
    </section>
    <!-- Checkout Content -->
    <section>
        <div class="container">
            <div class="row mb-5"> 
              <div class="col-lg-12 pe-xl-5">
                  
              </div>
            </div>
          </div>  
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}