/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@400;500;700&display=swap');

/*-------- GLOBAL VARIABLES --------*/

:root {
    /*-------- Typography --------*/
    --header-text: 'Raleway', sans-serif;
    --body-text: 'Open Sans', sans-serif;
    --body-text-size: 1rem;

    /*-------- Colours --------*/
    --white: #faf9f9;
    --black: #04151F;
    --grey: #484D5E;
    --cosmos: #540B0E;
    --auburn: #9E2A2B;
    --yellow: #E09F3E;
    --vanilla: #FFF3B0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-text);
    font-size: var(--body-text-size);
    color: var(--black);
}

/*-------- HEADINGS & TEXT --------*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-text);
}

.text-small {
    font-size: 0.875rem;
}

.text-primary {
    color: var(--auburn) !important;
}
  
.text-primary-hover:hover {
    color: var(--auburn) !important;
}

.subtitle {
    text-transform: uppercase;
    color: var(--auburn);
    letter-spacing: 0.2em;
    font-weight: 700;
    margin-bottom: 0;
}

/*-------- OTHER --------*/

.bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.btn {
    border-radius: 0;
}

.btn-outline-brown {
    color: var(--auburn);
    border: 1px solid var(--auburn);
    transition: all 0.6s ease;
}

.btn-outline-brown:hover {
    background-color: var(--auburn);
}

/*-------- NAV BAR --------*/

.info-bar {
    position: relative;
    color: var(--white);
    font-weight: 300;
    z-index: 50;
}

.navbar-toggler {
    border: 1px solid transparent;
    border-radius: 0;
    transition: box-shadow 0.15s ease-in-out;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover, .nav-link:focus {
    color: var(--auburn);
}

.form-control-underlined {
    padding-left: 0;
    transition: all .5s;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    background-color: transparent;
}
  
.form-control.form-control-underlined:focus {
    border-color: #212529;
    box-shadow: none;
}

.form-control.form-control-underlined:focus ~ .btn-underlined {
    border-bottom-color: #212529;
}

.btn.btn-underlined {
    transition: all .5s;
    border-top: none;
    border-right: none;
    border-bottom-color: #ced4da;
    border-left: none;
    border-radius: 0;
    background-color: transparent;
}
  
.btn.btn-underlined:focus {
    box-shadow: none;
}

.input-group-underlined:focus .btn-underlined, .input-group-underlined:hover .btn-underlined {
    border-bottom-color: #212529;
}
  
.input-group-underlined:focus .form-control-underlined, .input-group-underlined:hover .form-control-underlined {
    border-bottom-color: #212529;
}

/*-------- HERO --------*/

.hero-container {
    height: 85vh;
    min-height: 600px;
    color: var(--white);
}

.hero-cover {
    background: url('/media/cocktail-prep.jpg') fixed;
    width: 100%;
    height: 100%;
}

/*-------- POPULAR CHOICES --------*/

.poster {
    position: relative;
    height: 200px;
    transition: all .3s;
}

.poster-link {
    text-decoration: none;
    color: var(--black);
}

.poster:hover {
    transform: scale(1.02);
}

.poster-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

/*-------- FOOTER --------*/

.footer-container {
    border-top: 1px solid var(--grey);
}

.footer-toggle {
    display: block;
    position: relative;
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

.footer-toggle-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.footer-toggle-icon::before, .footer-toggle-icon::after {
    content: '';
    position: absolute;
    background-color: var(--black);
    transition: transform 0.3s ease;
}

.footer-toggle-icon::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
}

.footer-toggle-icon::after {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}

.footer-toggle[aria-expanded="true"] .footer-toggle-icon:after {
    width: 0;
}

.footer-link {
    text-decoration: none;
    transition: all 0.6s ease;
}

.icon-sm {
    font-size: 0.675rem;
}