<div class="py-6 text-body-secondary"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-5 pe-lg-5 pe-xl-6 mb-5 mb-lg-0">
          <h4 class="text-dark text-uppercase mb-2">Newsletter</h4>
          <p class="text-small mb-3"> Stay in the mix with our exclusive newsletter!</p>
          <form class="d-lg-flex ms-auto me-xl-6 my-lg-0" method="#" action="#">
            <div class="input-group input-group-underlined mb-3">
              <input class="form-control form-control-underlined" type="email" placeholder="email@example.com" aria-describedby="button-contact" aria-label="Contact">
              <button class="btn btn-underlined" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- COPYRIGHT SECTION-->
  <div class="py-3 fw-light text-body-secondary">
    <div class="container">
      <div class="row align-items-center text-small">
        <div class="col-lg-4 text-lg-start text-center">
          <p class="mb-lg-0">&copy; 2024, SorinPan.  All rights reserved.</p>
        </div>
        <div class="col-lg-8">
          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-lg-end">
            <li class="list-inline-item"> <a class="text-reset" href="#">Terms &amp; Conditions </a></li>
            <li class="list-inline-item"> <a class="text-reset" href="#">Privacy Policy </a></li>
            <li class="list-inline-item"> <a class="text-reset" href="#">Delivery Policy </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>