<div class="py-6 text-body-secondary"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-5 pe-lg-5 pe-xl-6 mb-5 mb-lg-0">
          <h4 class="text-dark text-uppercase mb-2">Newsletter</h4>
          <p class="text-small mb-3"> Stay in the mix with our exclusive newsletter!</p>
          <form class="d-lg-flex ms-auto me-xl-6 my-lg-0" method="#" action="#">
            <div class="input-group input-group-underlined mb-3">
              <input class="form-control form-control-underlined" type="email" placeholder="email@example.com" aria-describedby="button-contact" aria-label="Contact">
              <button class="btn btn-underlined" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
              </button>
            </div>
          </form>
        </div>
        <div class="col-lg-7">      
          <div class="row"> 
            <div class="col-lg-4">
              <a class="d-lg-none footer-toggle my-3" href="#" data-bs-toggle="collapse" data-bs-target="#footerMenu" aria-expanded="false" 
              aria-controls="footerMenu">Menu<span class="footer-toggle-icon"></span></a>
              <div class="d-lg-block collapse" id="footerMenu">
                <h5 class="text-dark text-uppercase mb-4 d-none d-lg-block">Menu</h5>
                <ul class="list-unstyled text-small pt-2 pt-lg-0">
                  <li class="mb-2"> <a class="text-body-secondary footer-link text-primary-hover" href="#">Products</a></li>
                  <li class="mb-2"> <a class="text-body-secondary footer-link text-primary-hover" href="#">Blog</a></li>
                  <li class="mb-2"> <a class="text-body-secondary footer-link text-primary-hover" href="#">About</a></li>
                  <li class="mb-2"> <a class="text-body-secondary footer-link text-primary-hover" href="#">FAQs</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <a class="d-lg-none footer-toggle my-3" href="#" data-bs-toggle="collapse" data-bs-target="#footerContact"  aria-expanded="false" 
              aria-controls="footerContact">Contact<span class="footer-toggle-icon"></span></a>
              <div class="d-lg-block collapse" id="footerContact">
                <h5 class="text-dark text-uppercase mb-4 d-none d-lg-block">Contact</h5>
                <address class="text-small pt-2 pt-lg-0">
                  <p class="mb-2 text-body-secondary">
                    Mixer Masters
                    <br>
                    Drink Avenue
                    <br>
                    Mixer Town
                    <br>
                    ZIP 24242
                  </p>
                  <a class="text-body-secondary footer-link text-primary-hover" href="#">mixermasters@example.com</a>
                </address>
              </div>
            </div>

            <div class="col-lg-4 mt-5 text-center">
              <i class="fa-brands fa-cc-visa fa-2x"><span class="fa-sr-only">Visa</span></i>
              <i class="fa-brands fa-cc-mastercard fa-2x"><span class="fa-sr-only">Mastercard</span></i>
              <i class="fa-brands fa-cc-amex fa-2x"><span class="fa-sr-only">Amex</span></i>
              <i class="fa-brands fa-cc-discover fa-2x"><span class="fa-sr-only">Discover</span></i>
              <i class="fa-brands fa-cc-diners-club fa-2x"><span class="fa-sr-only">Diners Club</span></i>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>
  <!-- COPYRIGHT SECTION-->
  <div class="py-3 fw-light text-body-secondary">
    <div class="container">
      <div class="row align-items-center text-small">
        <div class="col-lg-4 text-lg-start text-center">
          <p class="mb-lg-0">&copy; 2024, SorinPan.  All rights reserved.</p>
        </div>
        <div class="col-lg-4">
          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center">
            <li class="list-inline-item">
              <a class="icon-sm text-primary-hover text-body-secondary" href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-square-facebook fa-2x"></i>
                <span class="fa-sr-only">Link to Facebook. Opens in a new tab</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="icon-sm text-primary-hover text-body-secondary" href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram fa-2x"></i>
                <span class="fa-sr-only">Link to Instagram. Opens in a new tab</span>
            </a>
            </li>
            <li class="list-inline-item">
              <a class="icon-sm text-primary-hover text-body-secondary" href="https://www.youtube.com/" target="_blank">
                <i class="fa-brands fa-youtube fa-2x"></i>
                <span class="fa-sr-only">Link to Youtube. Opens in a new tab</span>
            </a>
            </li>
            <li class="list-inline-item">
              <a class="icon-sm text-primary-hover text-body-secondary" href="https://www.pinterest.co.uk/" target="_blank">
                <i class="fa-brands fa-square-pinterest fa-2x"></i>
                <span class="fa-sr-only">Link to Facebook. Opens in a new tab</span>
            </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-lg-end">
            <li class="list-inline-item"> <a class="text-reset" href="#">Terms &amp; Conditions </a></li>
            <li class="list-inline-item"> <a class="text-reset" href="#">Privacy Policy </a></li>
            <li class="list-inline-item"> <a class="text-reset" href="#">Delivery Policy </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>